{% extends "layout.html" %}

    {% block content %}
        {% for entry in entries%}
            <article class="media content-section">
                <div class ="media-body">
                    <div class="article-metadata">
                        <h2>{{entry.category}}</h2>
                        <small class="text-muted">{{entry.date_added.strftime('%Y-%m-%d')}}</small>

                    </div>
                    <p class="article-title">{{entry.content}}</p>
                    <p class="article-content">{{entry.amount}}</p>
                </div>
            </article>
        {% endfor %}
    {% endblock content %}    
